# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- Data Science Languages
- Data Science Libraries
- Data Science Tools

### Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

### Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch

### Data Science Tools
| **Data Science Tools**          |
|---------------------------------|
| Jupyter Notebook / JupyterLab   |
| R Studio                        |
| Apache Zeppelin                 |

 ### Arithmetic Expression Examples
 ### Below are a few examples of evaluating arithmetic expressions in Python
- Addition = num_one + num_two
- subtraction  = num_one - num_two
- product = num_one * num_two
- division = num_one / num_two
- remainder = num_two % num_one
- exponential = num_two ** num_one
- floor_division = num_one // num_two

In [21]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
ABUBAKAR HAMISU ZANGO